*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
    line-height: 1.5;
}

a {
    color: #679f69;
    text-decoration: none;
}

.nav a {
    color: black;
    text-decoration: none;
}

p {
    margin-bottom: 1rem;
}

a:hover,
a:active {
    color: #679f69;
    text-decoration: underline;
}

.body {
    margin: 3rem auto 5rem;
    width: 90%;
    max-width: 540px;
}

.content {
    margin-top: 2rem;
}

.flex {
    display: flex;
}

.nav {
    align-items: baseline;
    justify-content: space-between;
    color: black;
    background-color: white; /* preserves visibility during sticky scroll */
}

.navlink {
    display: block;
}

.sticky {
    position: sticky;
}

.topzero {
    top: 0; /* anchors elements for sticky (such as nav) */
}

@media (max-width: 640px) {
    .body {
        margin-top: 0.8rem;
    }
}